{% extends 'recipes/base.html' %}

{% block title %}O nás{% endblock %}

{% block content %}
    <h1>O Mých receptech</h1>
    <p>Vítejte na My Recipes! Tato stránka je navržena tak, aby vám pomohla ukládat, organizovat a sdílet vaše oblíbené recepty. Níže najdete informace o tom, jak shromažďujeme a používáme informace o receptech:</p>
    
    <h2>Jak shromažďujeme informace o receptech</h2>
    <p>Naši uživatelé jsou hlavním zdrojem receptů na této stránce. Uživatelé mohou přidávat nové recepty vyplněním formuláře s názvem, popisem, ingrediencemi a postupem pro své recepty. Každý recept je uložen v naší databázi a je přístupný uživateli, který ho přidal, stejně jako dalším uživatelům (pokud je recept sdílen veřejně).</p>
    
     <h2>Soukromí a bezpečnost</h2>
    <p>Ochrana soukromí a bezpečnost našich uživatelů je pro nás prioritou. Všechna uživatelská data, včetně receptů, jsou uložena bezpečně. Uživatelé mohou kontrolovat, kdo má přístup k jejich receptům, nastavením jako veřejné nebo soukromé.</p>
    
    <h2>Cookies a sledovací technologie</h2>
    <p>Naše stránka používá cookies a jiné sledovací technologie pro zlepšení uživatelského zážitku, analýzu návštěvnosti a cílení reklam. Uživatelé mohou nastavit své preference ohledně cookies v nastavení svého prohlížeče.</p>
    
    <h2>Kontaktujte nás</h2>
    <p>Pokud máte jakékoliv dotazy nebo připomínky k našim stránkám, neváhejte nás kontaktovat na podpoře: <a href="mailto:support@myrecipes.com">support@myrecipes.com</a>.</p>
{% endblock %}
