{% extends 'recipes/base.html' %}

{% block title %}Recipe List{% endblock %}

{% block content %}
    <h1>Recipe List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.instructions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <p><a href="{% url 'add_recipe' %}">Add a new recipe</a></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
        <p><a href="{% url 'register' %}">Register</a></p>
    {% endif %}
{% endblock %}
