{% extends 'recipes/base.html' %}

{% block title %}Recipe List{% endblock %}

{% block content %}
    <h1>Seznam receptů</h1>
    <table class="recipe-table">
        <thead>
            <tr>
                <th>Název</th>
                <th>Popis</th>
                <th>Ingredience</th>
                <th>Postup přípravy</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.instructions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <p><a href="{% url 'add_recipe' %}">Přidat nový recept</a></p>
        <p><a href="{% url 'logout' %}">Odhlášení</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Přihlášení</a></p>
        <p><a href="{% url 'register' %}">Registrace</a></p>
    {% endif %}
{% endblock %}
